<div class="notgetover"></div>
<div class="container-fluid go">
  <div class="row">
<div class="starter-template txt">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center">
  <h1>Welcome to StyleSite</h1>
 <h3><i>Find your personal style but also a job</i></h3>
      </div>
      </div>
        </div>
        </div>
<img [src]="fullImagePath" alt="">

</div>



          <!--    <img [src]="fullImagePath" >

  <br><br>
    <button type="button" class="btn btn-primary" [ngStyle]="{'width' : '40%'}" (click)="navUp()"> Let's get started </button>
  -->
